<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post</title>
  </head>
  <body>
    <form action="/chooseModel" method="post">
      <h1>Choose Model</h1>
      <label
        ><input type="radio" name="check_model" value="ani" />person2anime</label
      >
      <label
        ><input type="radio" name="check_model" value="m2f" />male2female</label
      >
      <label
        ><input type="radio" name="check_model" value="nogl" />no glasses</label
      >
      <input type="submit" value="transmit info" />
    </form>
  </body>
</html>
